{% extends "foo/base.html" %}

{% block head_title %}Example 1{% endblock %}

{% block body %}
    <h2>Example 1</h2>
    <p>Form with all basic field types.</p>

    <form method="post">
        <table>
            {{ form.as_ul }}
            <tr><td></td><td><input type="submit" /></td></tr>
        </table>
    </form>
{% endblock %}

{% load ajax_form_utils %}
{% block extra_body %}
<script type="text/javascript">
    $(function() {
        $('#id_boolean').focus();
        $('form').validation({% render_ajax_fields form %}, {
            layout: 'ul'
        });
    });
</script>
{% endblock %}
